.hero-section{
    height: 350px;
    border: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 15px 20px;
    margin-inline: 5px;
}